<section class="container">
  <div class=blog-show>
    <p id="notice"><%= notice %></p>
    <div class="blog-grid">

      <div class="blog-grid__main">
        <div class="blog-title">
          <h2><%= @article.title %></h2>
          <!-- <p><small><%= @article.created_at.strftime("%d/%m/%Y") %></small></p> -->
        </div>

        <div class="blog-image">
          <% @article.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
        <div class="blog-text">
          <p><%= @article.rich_body %></p>
        </div>

        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Back', articles_path %>
        <% end %>
      </div>

      <div class="blog-grid__side">
        <div>
          <h4>O mnie</h4>
          <p>Jestem absolwentem Szkoły Wyższej Psychologii Społecznej Uniwersytetu Humanistycznospołecznego w Sopocie. Ukończyłem studia magisterskie na Wydziale Psychologii/specjalizacja kliniczna i zdrowia. Aktualnie jestem w trakcie szkolenia w Szkole Psychoterapii Psychodynamicznej w Krakowskim Centrum Psychodynamicznym.</p>
        </div>
        <div>
          <h4>Kategorie</h4>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
         <div>
          <h4>Umów się na wizytę</h4>
          <div class="contact-way">
            <i class="fas fa-phone"></i>
            <p><strong>Zadzwoń do nas:</strong></p>
            <p><a href="tel://+48663061717">+48663061717</a></p>
          </div>
          <div class="contact-way">
            <i class="far fa-envelope"></i>
            <p><strong>Napisz do nas:</strong></p>
            <p><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></p>
          </div>
          <div class="contact-way">
            <i class="far fa-calendar-check"></i>
            <p><strong>Zarezerwuj:</strong></p>
            <p><a href="https://www.znanylekarz.pl/grzegorz-szczeblewski/psycholog-psychoterapeuta-terapeuta/koszalin">wizytę online</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

