<section class="container">
  <div class=blog-show>
    <p id="notice"><%= notice %></p>

    <div class="blog-grid">
      <div class="blog-grid__main">
        <div class="blog-title">
          <h2><%= @article.title %></h2>
          <span class="entry-div"></span>
          <!-- <p><small><%= @article.created_at.strftime("%d/%m/%Y") %></small></p> -->
        </div>
        <div class="blog-image">
          <% @article.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
        <div class="blog-text">
          <p><%= @article.rich_body %></p>
        </div>
        <div class="mt-5">
          <%= link_to '← Wszystkie Artykuly', articles_path, class:"btn-back"%>
        </div>
      </div>

      <div class="blog-grid__side">
        <div class="blog-grid__side__about">
          <h4 class="widget-title">O mnie</h4>
          <p>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji.
          Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem.
          Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań.</p>
        </div>

        <div class="blog-grid__side__services">
          <h4 class="widget-title">Oferta</h4>
          <ul>
            <li><%= link_to "Psychoterpia Indywidualna", oferta_path %></li>
            <li><%= link_to "Konsultacja Psychologiczna", oferta_path %></li>
            <li><%= link_to "Pomoc Kryzysowa", oferta_path %></li>
          </ul>
        </div>

        <div class="blog-grid__side__categories">
          <h4 class="widget-title">Kategorie</h4>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
          <p>Lorem</p>
        </div>

        <div class="blog-grid__side__contact">
          <h4 class="widget-title">Umów się na wizytę</h4>
          <div>
            <a href="tel://+48663061717"><i class="fas fa-phone"></i>Zadzwoń</a>
          </div>
          <div class="blog-grid__side__contact">
            <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>Wyslij email</a>
          </div>
          <div class="blog-grid__side__contact">
            <a href="https://www.znanylekarz.pl/grzegorz-szczeblewski/psycholog-psychoterapeuta-terapeuta/koszalin"><i class="far fa-calendar-check"></i>Zarezerwuj online</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="mt-5">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
  </div>
  <% end %>
</section>

