<section class="container">
  <div class=blog-show>
    <p id="notice"><%= notice %></p>
    <div class="blog-grid">

      <div class="blog-grid__main">
        <div class="blog-title">
          <h2><%= @article.title %></h2>
          <!-- <p><small><%= @article.created_at.strftime("%d/%m/%Y") %></small></p> -->
        </div>

        <div class="blog-image">
          <% @article.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
        <div class="blog-text">
          <p><%= @article.rich_body %></p>
        </div>

        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Back', articles_path %>
        <% end %>
      </div>

      <div class="blog-grid__side">
        <p>about us</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quod rem, quae voluptate sit aspernatur explicabo doloremque reiciendis voluptates accusantium autem eos dolor est. Reprehenderit, excepturi tempore possimus totam adipisci?
        Cum voluptas ad ipsa nam recusandae ducimus, dolorem, tempora molestias odit corrupti, quisquam! Asperiores veritatis, a ad vero soluta corporis quibusdam accusamus animi exercitationem laudantium sunt quis impedit sint beatae?
        Soluta esse amet animi eaque doloremque, voluptatibus libero, incidunt. Saepe quis possimus consectetur natus animi non enim qui iure nulla illo odit, minus dolor autem accusamus odio mollitia earum doloremque.
        Quasi, quos laborum, quas ea cupiditate sunt nostrum dolore deserunt mollitia praesentium distinctio, vero. Aliquam iusto enim suscipit delectus porro nisi repellat hic voluptatibus distinctio, magni at odio voluptatum ipsam.
        Officiis, provident aspernatur nihil rem quas nisi. Labore voluptates harum saepe nam pariatur. Placeat, veritatis? Corporis voluptatem corrupti, aliquam veniam optio aut. Rerum consequuntur porro dolor dignissimos, assumenda labore at.</p>
      </div>
      </div>
  </div>
</section>

