<div class="footer">
  <div class="footer-column container">
    <div class="footer-menu">
      <h2>GABINET POMOCY PSYCHOLOGICZNEJ<br>I PSYCHOTERAPII</h2>
      <ul>
        <li><%= link_to "Psychoterpia Indywidualna", oferta_path %></li>
        <li><%= link_to "Konsultacja Psychologiczna", oferta_path %></li>
        <li><%= link_to "Pomoc Kryzysowa", oferta_path %></li>
        <li><%= link_to "Terapia Par", oferta_path %></li>
        <li><%= link_to "Pomoc w uzależnieniach", oferta_path %></li>
      </ul>
    </div>
    <div class="footer-contact footer-menu">
      <h2>KONTAKT</h2>
      <p><a href="tel://+48663061717"><i class="fas fa-phone-alt"></i> +48663061717</a></p>
      <p><a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i> gabinet@psycho-terapeutyczny.pl</a></p>
      <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i> Znajdź nas</a></p>
      <p><a href="https://www.facebook.com/CentrumPsychoterapiiKoszalin" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></p>
    </div>

    <div class="footer-menu">
      <h2>MENU</h2>
      <ul>
        <li><%= link_to "Nasz zespół", zespol_path %></li>
        <li><%= link_to "Oferta", oferta_path %></li>
        <li><%= link_to "Umów wizytę", kontakt_path %></li>
        <li><%= link_to "Wynajem gabinetów", gabinety_path %></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="footer-menu">
        <ul>
          <li><%= link_to "Admin", admin_path %></li>
          <li><%= link_to "Wyloguj", destroy_user_session_path, method: :delete %> </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

