<nav class="navbar container">
  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-menu">
    <%= link_to "O MNIE", o_mnie_path, class: "btn menu-item" %>
    <%= link_to "OFERTA", oferta_path, class: "btn menu-item" %>
    <%= link_to "CENNIK", cennik_path, class: "btn menu-item" %>
    <%= link_to "BLOG", articles_path, class: "btn menu-item" %>
    <%= link_to "KONTAKT", kontakt_path, class: "btn menu-item" %>
  </div>
</nav>
