<nav class="navbar">
  <div class="brand-title">
  Grzegorz Szczeblewski
  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-menu">
    <%= link_to "O mnie", o_mnie_path, class: "btn menu-item" %>
    <%= link_to "Oferta", oferta_path, class: "btn menu-item" %>
    <%= link_to "Cennik", oferta_path, class: "btn menu-item" %>
    <%= link_to "Blog", articles_path, class: "btn menu-item" %>
    <%= link_to "Kontakt", kontakt_path, class: "btn menu-item" %>
  </div>
</nav>