<header class="navbar-header container <%= yield(:navbar_class) %>">
  <%= link_to root_path, class: "site-logo-white" do %>
    <%= image_tag 'logo-white.png' %>
  <% end %>
  <%= link_to root_path, class: "site-logo" do %>
    <%= image_tag 'logo-new.png' %>
  <% end %>
  <nav>
    <ul class="nav__list">
      <li><%= link_to "nasz zespół", zespol_path, class: "nav__link" %>
        <div class="menu-sub">
          <ul>
            <li class="menu-sub__top"><%= link_to "grzegorz szczeblewski", zespol_Grzegorz_Szczeblewski_path %></li>
            <li><%= link_to "donata grodek", zespol_Donata_Grodek_path %></li>
            <li><%= link_to "ela walczak", zespol_Elzbieta_Walczak_path %></li>
            <li class="menu-sub__bottom"><%= link_to "patrycja barabasz", zespol_Patrycja_Barabasz_path %></li>
          </ul>
        </div>
      </li>
      <li><%= link_to "oferta", oferta_path, class: "nav__link" %>
        <div class="menu-sub">
          <ul>
            <li class="menu-sub__top"><%= link_to "konsultacja psychologiczna", oferta_konsultacja_path %></li>
            <li><%= link_to "psychoterapia indywidualna", oferta_terapia_path %></li>
            <li><%= link_to "pomoc w sytuacji kryzysowej", oferta_pomoc_kryzys_path %></li>
            <li><%= link_to "pomoc w uzależnieniach", oferta_uzaleznienia_path %></li>
            <li class="menu-sub__bottom"><%= link_to "terapia par", oferta_terapia_par_path %></li>
          </ul>
        </div>
      <li><%= link_to "blog", articles_path, class: "nav__link" %></li>
      <li><%= link_to "kontakt", kontakt_path, class: "nav__link" %></li>
      <li><%= link_to "wynajem gabietow", gabinety_path, class: "nav__link" %></li>
      <!-- <li class=nav__list-btn><%= link_to "rezerwacja online", href="https://www.znanylekarz.pl/grzegorz-szczeblewski/psycholog-psychoterapeuta-terapeuta/koszalin", class: "nav__link--btn" %></li> -->
    </ul>
  </nav>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
</header>

