<!-- banner section -->
<div class="banner-img">
  <div class="container">
    <div class="banner-title">
      <h1>GABINET POMOCY</h1>
      <h1>PSYCHOLOGICZNEJ I PSYCHOTERAPII</h1>
      <h2>- Grzegorz Szczeblewski -</h2>
    </div>
    <div class="banner-text">
      <p>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji.</p>
      <p>Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem.</p>
      <p>Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań.</p>
    </div>
  </div>
</div>

<!-- product offer section -->
<section>
  <div class="container">
    <div class="section-titles">
      <h1>W CZYM MOGĘ POMÓC</h1>
      <hr />
    </div>
    <div class="cards">
      <div class="card">
        <img src="/assets/1.jpg" alt="">
        <div class="card-info">
          <h2>Konsultacja<br>Psychologiczna</h2>
          <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
          <%= link_to "WIĘCEJ", oferta_konsultacja_path, class: "btn-cards" %>
        </div>
      </div>
      <div class="card">
        <img src="/assets/2.jpg" alt="">
        <div class="card-info">
          <h2>Psychoterapia <br>Indywidualna</h2>
          <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
          <%= link_to "WIĘCEJ", oferta_terapia_path, class: "btn-cards" %>
        </div>
      </div>
      <div class="card">
        <img src="/assets/3.jpg" alt="">
        <div class="card-info">
          <h2>Pomoc w sytuacji<br>krzysowej</h2>
          <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
          <%= link_to "WIĘCEJ", oferta_path, class: "btn-cards" %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- jak pracuje section -->
<section>
  <div class="container">
    <div class="work-section">
      <div class="section-titles">
        <h2>JAK PRACUJE</h2>
        <hr />
      </div>
      <div class="container text-center">
        <p>Pracuję w podejściu psychodynamicznym, które zostało opracowane na podstawie dorobku współczesnej psychiatrii oraz uznanych koncepcji psychoanalitycznych. Psychoterapia psychodynamiczna toczy się w oparciu o relację terapeutyczną czyli więź, jaka rozwija się pomiędzy pacjentem a terapeutą w trakcie trwania leczenia.
        <br>
        <br>
        Psychoterapeuta psychodynamiczny nie daje dobrych rad lecz stara się pomóc pacjentowi w lepszym rozumieniu jego własnych myśli, zachowań, pragnień i uczuć. W tym procesie rolą psychoterapeuty jest towarzyszenie człowiekowi w poszukiwaniu lepszych sposobów rozwiązania jego problemów niż te, które do tej pory stosował, a także wskazywanie tego, czego sam nie mógł dostrzec.
        <br>
        <br>
        Pacjent podczas terapii w gabinecie staje na drodze do lepszego poznania i zrozumienia siebie oraz wzmocnienia poczucia własnej wartości.Psychoterapia ma pomóc w przeżywaniu życia głębiej, bardziej świadomie, w doświadczaniu w pełni jego blasków i cieni.</p>
      </div>
    </div>
  </div>
</section>

<!-- about me section -->
<section>
  <div class="container">
    <div class="about-me-section">
      <div class="about-me-section-text">
        <h2>GZEGORZ SZCZEBLEWSKI</h2>
        <h4>Psycholog</h4>
        <p>Jestem absolwentem Szkoły Wyższej Psychologii Społecznej Uniwersytetu Humanistycznospołecznego w Sopocie. Ukończyłem studia magisterskie na Wydziale Psychologii/specjalizacja kliniczna i zdrowia. Aktualnie jestem w trakcie szkolenia w Szkole Psychoterapii Psychodynamicznej  w Krakowskim Centrum Psychodynamicznym.</p>
        <div class="about-me-section-btn">
          <%= link_to "WIĘCEJ", o_mnie_path, class: "btn-cards" %>
        </div>
      </div>
      <div>
        <%= image_tag "grzegorz.jpg", alt: "Grzegorz_Szczeblewski" %>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap Image Carousel -->
<section>
  <div class="container">
    <div class="work-section">
      <div class="section-titles">
        <h2>NASZE BIURA</h2>
        <hr/>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Beatae officiis voluptatibus ab aliquam est adipisci a laudantium maxime cumque eius reiciendis sint, iste rem veniam delectus quis fuga aliquid? Provident.
        Ipsa suscipit ea vel et, magni, ducimus consequuntur. Molestias delectus nam eum rem corporis enim suscipit nostrum et possimus aut, quo, voluptate, facilis. Est, ex aliquid. Error alias, iusto molestias.</p>
      </div>
      <%= render 'shared/carousel' %>
    </div>
  </div>
</section>

<!-- Reviews -->
<!-- <section class="reviews container">
  <div class="section-titles">
        <h2>OPINIE NASZYCH KLIENTÓW</h2>
        <hr/>
  </div>
  <div class="reviews-grid">
    <% @reviews.each do |review| %>
    <figure class="review">
      <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
      <figcaption class="review__box">
        <blockquote class="review__text">
          <p><%= review.content %></p>
        </blockquote>
      </figcaption>
    </figure>
    <% end %>
  </div>
</section> -->


<section class="reviews-carousel container">
  <div class="section-titles">
    <h2>OPINIE NASZYCH KLIENTÓW</h2>
    <hr/>
  </div>
  <div>
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                   <p>Bardzo fachowa, rzetelna obsługa sesje przebiegały bardzo szybko wręcz niekiedy brakowało czasu i chciałoby się domówić kolejną godzinę. Bardzo polecam.☆☆☆☆☆ chodziłem 2 miesiące i z pewnością za jakiś czas, wrócę tam z powrotem.</p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% @reviews.each do |review| %>
          <div class="carousel-item text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                  <p><%= review.content %></p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>




