<%#= content_for(:navbar_class, "navbar-home") %>
<!-- banner section -->
<section id="section01" class="banner-home btn-scroll">
  <div class="banner-text">
    <h1>CENTRUM PSYCHOTERAPII</h1>
    <h2>Psychoterapia i pomoc psychologiczna</h2>
  </div>
  <a href="#section02"><span></span></a>
</section>


<!-- about us section  -->
<section id="section02" class="top">
  <div class="container">
    <div class="about-us fade-in">
      <div class="section-titles">
        <h2>O NAS</h2>
        <hr/>
      </div>
      <div class="about-us__text">
        <p>Centrum Psychoterapii <strong>Psycho-Terapeutyczny.pl</strong> powstało w odpowiedzi na potrzebę stworzenia bezpiecznego, przyjaznego i intymnego miejsca zarówno dla psychoterapeutów oraz osób chcących skorzystać z specjalistycznej pomocy terapeutycznej i psychologicznej. Oddajemy do dyspozycji przestrzeń, w której każdy znajdzie dla siebie profesjonalną i adekwatną opiekę, gdzie będzie czuł się ważny i słuchany. Wysoki poziom świadczonych usług gwarantuje współpracujący ze sobą zespół psychologów i psychoterapeutów specjalizujących się w różnych dziedzinach oraz bogaty w wiedzę z kilku nurtów psychoterapeutycznych, Oferta kierowana jest do wszystkich, którzy doświadczają trudności, chcieliby lepiej rozumieć siebie i funkcjonować w relacji ze sobą, jak i innymi.</p>
      </div>
    </div>
  </div>
</section>

<!-- product offer section - option 2 -->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>OFERTA</h2>
      <hr />
    </div>
    <div class="cards">
      <%= link_to oferta_konsultacja_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-konsultacja.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Konsultacja<br>Psychologiczna</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-terapia.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Psychoterapia <br>Indywidualna</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_pomoc_kryzys_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-kryzys.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Pomoc w sytuacji<br>kryzysowej</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_uzaleznienia_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-uzaleznienia.png" alt="">
          <div class="card-info fade-in">
            <h2>Pomoc w <br>uzależnieniach</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_par_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-pary.png" alt="">
          <div class="card-info fade-in">
            <h2>Terapia par</h2>
          </div>
        </div>
      <% end %>
      <%= link_to zespol_robert_krzyzanowski_path do %>
      <div class="card shadow-cards">
        <img src="/assets/icon-gender.png" alt="">
        <div class="card-info fade-in">
          <h2>Terapia<br>seksuologiczna</h2>
        </div>
      </div>
    <% end %>
    <%= link_to zespol_magdalena_luczyk_path do %>
      <div class="card shadow-cards">
        <img src="/assets/icon-diet.png" alt="">
        <div class="card-info fade-in">
          <h2>Psychodietetyka</h2>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

<section>
  <div class="about-us container">
    <div class="section-titles">
      <h2>Umów wizytę:</h2>
      <hr/>
    </div>
    <div class="home-contact">
      <div class="home-contact__text">
        <div class="contact-block__list">
          <a href="tel://+48663061717"><i class="fas fa-phone-alt"></i>+48663061717</a>
          <br>
          <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
          <br>
          <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdź nas</a>
          <br>
          <p href="#"><i class="far fa-clock"></i>Poniedziałek – Piątek: 8:00 - 21:00</p>
        </div>
      </div>
      <div class="home-contact__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>NASZ ZESPÓŁ</h2>
      <hr/>
    </div>
    <div class="people fade-in">
      <div class="people__container">
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <%= image_tag "Grzegorz_Szczeblewski.jpg", alt: "Grzegorz_Szczeblewski - psycholog, psychoterapeuta" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Psychoterapia Indywidualna</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia Par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Grzegorz Szczeblewski</h4>
            <p>Psycholog, <br> Psychoterapeuta</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_donata_grodek_path do %>
          <%= image_tag "Donata_Grodek.jpg", alt: "Donata Grodek - psycholog, psychoterapeuta" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Donata Grodek</h4>
            <p>Psycholożka, <br> Psychoterapeutka</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_elzbieta_walczak_path do %>
          <%= image_tag "Ela_Walczak.jpg", alt: "Elżbieta Walczak - psycholog, psychoterapeuta" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Elżbieta Walczak</h4>
            <p>Psycholożka, <br> Terapeutka uzależnień</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_kamila_czarnuch_path do %>
          <%= image_tag "Kamila_Czarnuch.jpg", alt: "Kamila Czarnuch - psycholog, psychoterapeuta" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Psychoterapia Indywidualna</p>
              <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Kamila Czarnuch</h4>
            <p>Psycholożka, <br> Psychoterapeutka</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_dominika_lisiecka_path do %>
          <%= image_tag "Dominika_Lisiecka.jpg", alt: "Dominika Lisiecka - psychoterapeutka, leczenie uzależnień i współuzależnień" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Psychoterapia Indywidualna</p>
              <p>Pomoc w uzależnieniach i współuzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Dominika Lisiecka</h4>
            <p>Psychoterapeutka, <br> Terapeutka uzależnień i współuzależnień </p>
          </div>
        <% end %>
      </div>
      <!-- Aleksandra Stępień -->
      <div class="people__container">
        <%= link_to zespol_aleksandra_stepien_path do %>
          <%= image_tag "Aleksandra_Stepien.jpg", alt: "Aleksandra Stępień - psychoterapeuta" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Psychoterapia Indywidualna</p>
              <p>Konsultacja Psychologiczna</p>
              <p>Terapia rodzin</p>
              <p>Terapia Par</p>
              <p>Doradztwo zawodowe (coaching kariery)</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Aleksandra Stępień</h4>
            <p>Psychoterapeutka</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_marta_mlodzianowska_path do %>
          <%= image_tag "Marta_Mlodzianowska.jpg", alt: "Marta Młodzianowska - psycholog, psychoterapeuta" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Psychoterapia Indywidualna</p>
              <p>Konsultacja Psychologiczna</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Marta Młodzianowska</h4>
            <p>Psycholożka, <br>Psychoterapeutka</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_tadeusz_kurpisz_path do %>
          <%= image_tag "Tadeusz_Kurpisz.jpg", alt: "Psychoterapeuta - Specjalista psychoterapii uzależnień" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Diagnostyka</p>
              <p>Terapia systemowa </p>
              <p>Terapia grupowa</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Tadeusz Kurpisz</h4>
            <p>Psychoterapeuta, <br> Specjalista psychoterapii uzależnień</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_katarzyna_wojtczak_path do %>
          <%= image_tag "Katarzyna_Wojtczak.jpg", alt: "Psychoterapeutka" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Psychoterapia Indywidualna</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia par</p>
              <p>Terapia rodzin </p>
              <p>Mediacja</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Katarzyna Wojtczak</h4>
            <p>Psychoterapeutka</p>
          </div>
        <% end %>
      </div>

      <div class="people__container">
        <%= link_to zespol_robert_krzyzanowski_path do %>
          <%= image_tag "Robert_Krzyzanowski.jpg", alt: "Robert Krzyżanowski - Psycholog, Seksuolog" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Terapia seksuologiczna</p>
              <p>Terapia par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Robert Krzyżanowski</h4>
            <p>Psycholog, <br> Seksuolog</p>
          </div>
        <% end %>
      </div>

      <div class="people__container">
        <%= link_to zespol_malgorzata_radziwolek_path do %>
          <%= image_tag "Malgorzata_Radziwolek.jpg", alt: "Małgorzata Radziwołek - Coach, Hipnoterapeutka, Pedagog" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Coaching</p>
              <p>Hipnoterapia</p>
              <p>Sesje NLP</p>
              <p>Sesje z wykorzystaniem technik mieszanych</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Małgorzata Radziwołek</h4>
            <p>Coach, <br>Hipnoterapeutka, <br> Pedagog</p>
          </div>
        <% end %>
      </div>

      <div class="people__container">
        <%= link_to zespol_magdalena_luczyk_path do %>
          <%= image_tag "Magdalena_Luczyk.jpg", alt: "Magdalena Łuczyk - Terapeuta, Dietetyk kliniczny, Logopeda, Trener TUS, Neurologopeda, Oligofrenopedagog" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Terapeuta</p>
              <p>Dietetyk kliniczny</p>
              <p>Logopeda</p>
              <p>Trener TUS</p>
              <p>Neurologopeda</p>
              <p>Oligofrenopedagog</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Magdalena Łuczyk</h4>
            <p>Terapeuta, Dietetyk kliniczny, Logopeda, Trener TUS, Neurologopeda, Oligofrenopedagog</p>
          </div>
        <% end %>
      </div>

      <div class="people__container">
        <%= link_to zespol_anetta_idziorek_path do %>
          <%= image_tag "Anetta_Idziorek.jpg", alt: "Anetta Idziorek - Psychoterapeutka" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
            <p>Konsultacja Psychologiczna</p>
            <p>Terapia indywidualna</p>
            <p>Terapia par</p>
            <p>Terapia Rodzin</p>
            <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Anetta Idziorek</h4>
            <p>Psychoterapeutka</p>
          </div>
        <% end %>
      </div>

      <div class="people__container">
        <%= link_to zespol_anetta_idziorek_path do %>
          <%= image_tag "Tamara_Pieczerer.jpg", alt: "Tamara Pieczerer - Terapeutka Recall Healing" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
            <p>Terapia indywidualna</p>
            <p>Terapia Rodzinna</p>
            <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Tamara Pieczerer</h4>
            <p>Terapeutka Recall Healing</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap Image Carousel -->
<section>
  <div class="container">
    <div class="offices-section">
      <div class="section-titles">
        <h2>NASZE GABINETY</h2>
        <hr/>
      </div>
      <%= render 'shared/carousel' %>
    </div>
  </div>
</section>

<section class="reviews-carousel container">
  <div class="section-titles">
    <h2>OPINIE NASZYCH KLIENTÓW</h2>
    <hr/>
  </div>
  <div>
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                   <p>Bardzo fachowa, rzetelna obsługa sesje przebiegały bardzo szybko wręcz niekiedy brakowało czasu i chciałoby się domówić kolejną godzinę. Bardzo polecam.☆☆☆☆☆ chodziłem 2 miesiące i z pewnością za jakiś czas, wrócę tam z powrotem.</p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% @reviews.each do |review| %>
          <div class="carousel-item text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                  <p><%= review.content %></p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
