<%#= content_for(:navbar_class, "navbar-home") %>
<!-- banner section -->
<section id="section01" class="banner-home btn-scroll">
  <div class="banner-text">
    <h1>CENTRUM PSYCHOTERAPII</h1>
    <h2>Psychoterapia i pomoc psychologiczna</h2>
  </div>
  <a href="#section02"><span></span></a>
</section>


<!-- about us section  -->
<section id="section02" class="top">
  <div class="container">
    <div class="about-us fade-in">
      <div class="section-titles">
        <h2>O NAS</h2>
        <hr/>
      </div>
      <div class="about-us__text">
        <p>Centrum Psychoterapii <strong>Psycho-Terapeutyczny.pl</strong> powstało w odpowiedzi na potrzebę stworzenia intymnego, przyjaznego i bezpiecznego miejsca zarówno dla psychoterapeutów oraz osób chcących skorzystać z specjalistycznej pomocy terapeutycznej i psychologicznej. Oddajemy do dyspozycji przestrzeń, w której każdy znajdzie dla siebie profesjonalną i adekwatną opiekę, gdzie będzie czuł się ważny i słuchany. Wysoki poziom świadczonych usług gwarantuje współpracujący ze sobą zespół psychologów i psychoterapeutów specjalizujących się w różnych dziedzinach oraz bogaty w wiedzę z kilku nurtów psychoterapeutycznych, Oferta kierowana jest do wszystkich, którzy doświadczają trudności, chcieliby lepiej rozumieć siebie i funkcjonować w relacji ze sobą, jak i innymi.</p>
      </div>
    </div>
  </div>
</section>

<!-- product offer section - option 2 -->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>OFERTA</h2>
      <hr />
    </div>
    <div class="cards">
      <%= link_to oferta_konsultacja_path do %>
        <div class="card shadow-cards">
          <img src="/assets/1.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Konsultacja<br>Psychologiczna</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_path do %>
        <div class="card shadow-cards">
          <img src="/assets/2.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Psychoterapia <br>Indywidualna</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_pomoc_kryzys_path do %>
        <div class="card shadow-cards">
          <img src="/assets/3.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Pomoc w sytuacji<br>krzysowej</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_uzaleznienia_path do %>
        <div class="card shadow-cards">
          <img src="/assets/4.png" alt="">
          <div class="card-info fade-in">
            <h2>Pomoc w <br>uzależnieniach</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_par_path do %>
        <div class="card shadow-cards">
          <img src="/assets/5.png" alt="">
          <div class="card-info fade-in">
            <h2>Terapia par</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>NASZ ZESPÓŁ</h2>
      <hr/>
    </div>
    <div class="people fade-in">
      <div class="people__container">
        <%= link_to zespol_Grzegorz_Szczeblewski_path do %>
          <%= image_tag "Grzegorz_kwadrat.jpg", alt: "Grzegorz_Szczeblewski" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Psychoterapia Indywidualna</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia Par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Grzegorz Szczeblewski</h4>
            <p>Psycholog i <br> Psychoterapeuta</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_Elzbieta_Walczak_path do %>
          <%= image_tag "Ela_Walczak.jpg", alt: "Elżbieta Walczak" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Elżbieta Walczak</h4>
            <p>Psycholożka i Terapeutka uzależnień</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_Donata_Grodek_path do %>
          <%= image_tag "Donata_Grodek.jpg", alt: "Donata Grodek" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Donata Grodek</h4>
            <p>Psycholożka, Psychoterapeutka i Terapeutka uzależnień</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap Image Carousel -->
<section>
  <div class="container">
    <div class="offices-section">
      <div class="section-titles">
        <h2>NASZE GABINETY</h2>
        <hr/>
      </div>
      <%= render 'shared/carousel' %>
    </div>
  </div>
</section>

<section class="reviews-carousel container">
  <div class="section-titles">
    <h2>OPINIE NASZYCH KLIENTÓW</h2>
    <hr/>
  </div>
  <div>
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                   <p>Bardzo fachowa, rzetelna obsługa sesje przebiegały bardzo szybko wręcz niekiedy brakowało czasu i chciałoby się domówić kolejną godzinę. Bardzo polecam.☆☆☆☆☆ chodziłem 2 miesiące i z pewnością za jakiś czas, wrócę tam z powrotem.</p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% @reviews.each do |review| %>
          <div class="carousel-item text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                  <p><%= review.content %></p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>


<!-- product offer section --><!--possible delete-->
<!-- <section id="section02" class="top">
  <div class="container">
    <div class="section-titles">
      <h1>OFERTA</h1>
      <hr />
    </div>
    <div class="cards">
      <div class="card">
        <img src="/assets/1.jpg" alt="">
        <div class="card-info fade-in">
          <h2>Konsultacja<br>Psychologiczna</h2>
          <p>Dzięki konsultacji psychologicznej możliwe jest wstępne rozpoznanie sytuacji życiowej pacjenta oraz określenie jego problemów. Z tego względu stanowi ona stanowią wstęp do dalszego postępowania oraz terapii.</p>
          <%= link_to "WIĘCEJ", oferta_konsultacja_path, class: "btn-cards" %>
        </div>
      </div>
      <div class="card">
        <img src="/assets/2.jpg" alt="">
        <div class="card-info fade-in">
          <h2>Psychoterapia <br>Indywidualna</h2>
          <p>Stres i problemy o różnym charakterze stanowią nieodłączną część życia wielu z nas. Ich oddziaływanie jest jednak bardzo duże. W niektórych przypadkach stanowią one tak duże obciążenie, że niezbędna jest pomoc.</p>
          <%= link_to "WIĘCEJ", oferta_terapia_path, class: "btn-cards" %>
        </div>
      </div>
      <div class="card">
        <img src="/assets/3.jpg" alt="">
        <div class="card-info fade-in">
          <h2>Pomoc w sytuacji<br>krzysowej</h2>
          <p>Dzięki konsultacji psychologicznej możliwe jest wstępne rozpoznanie sytuacji życiowej pacjenta oraz określenie jego problemów. Z tego względu stanowi ona stanowią wstęp do dalszego postępowania oraz terapii.</p>
          <%= link_to "WIĘCEJ", oferta_path, class: "btn-cards" %>
        </div>
      </div>
      <div class="card">
        <img src="/assets/4.png" alt="">
        <div class="card-info fade-in">
          <h2>Pomoc w uzależnieniach</h2>
          <p>Zapewniamy nowoczesne i kompleksowe leczenie osobom borykającym się z różnego rodzaju uzależnieniami, zarówno w zakresie substancji psychoaktywnych, jak i uzależnień behawioralnych. </p>
          <%= link_to "WIĘCEJ", oferta_path, class: "btn-cards" %>
        </div>
      </div>
      <div class="card">
        <img src="/assets/5.png" alt="">
        <div class="card-info fade-in">
          <h2>Terapia par</h2>
          <p>Związek dwojga osób może stawać przed rozmaitymi trudnościami. Mogą wynikać z utrudnionej komunikacji w związku ale również z indywidualnych trudności każdej z osób.</p>
          <%= link_to "WIĘCEJ", oferta_path, class: "btn-cards" %>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Reviews -->
<!-- <section class="reviews container">
  <div class="section-titles">
        <h2>OPINIE NASZYCH KLIENTÓW</h2>
        <hr/>
  </div>
  <div class="reviews-grid">
    <% @reviews.each do |review| %>
    <figure class="review">
      <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
      <figcaption class="review__box">
        <blockquote class="review__text">
          <p><%= review.content %></p>
        </blockquote>
      </figcaption>
    </figure>
    <% end %>
  </div>
</section> -->
