<%#= content_for(:navbar_class, "navbar-home") %>
<!-- banner section -->
<section id="section01" class="banner-home btn-scroll">
  <div class="banner-text">
    <h1>CENTRUM PSYCHOTERAPII</h1>
    <h2>Psychoterapia i pomoc psychologiczna</h2>
  </div>
  <a href="#section02"><span></span></a>
</section>


<!-- about us section  -->
<section id="section02" class="top">
  <div class="container">
    <div class="about-us fade-in">
      <div class="section-titles">
        <h2>O NAS</h2>
        <hr/>
      </div>
      <div class="about-us__text">
        <p>Centrum Psychoterapii <strong>Psycho-Terapeutyczny.pl</strong> powstało w odpowiedzi na potrzebę stworzenia bezpiecznego, przyjaznego i intymnego miejsca zarówno dla psychoterapeutów oraz osób chcących skorzystać z specjalistycznej pomocy terapeutycznej i psychologicznej. Oddajemy do dyspozycji przestrzeń, w której każdy znajdzie dla siebie profesjonalną i adekwatną opiekę, gdzie będzie czuł się ważny i słuchany. Wysoki poziom świadczonych usług gwarantuje współpracujący ze sobą zespół psychologów i psychoterapeutów specjalizujących się w różnych dziedzinach oraz bogaty w wiedzę z kilku nurtów psychoterapeutycznych, Oferta kierowana jest do wszystkich, którzy doświadczają trudności, chcieliby lepiej rozumieć siebie i funkcjonować w relacji ze sobą, jak i innymi.</p>
      </div>
    </div>
  </div>
</section>

<!-- product offer section - option 2 -->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>OFERTA</h2>
      <hr />
    </div>
    <div class="cards">
      <%= link_to oferta_konsultacja_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-konsultacja.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Konsultacja<br>Psychologiczna</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-terapia.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Psychoterapia <br>Indywidualna</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_pomoc_kryzys_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-kryzys.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Pomoc w sytuacji<br>kryzysowej</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_uzaleznienia_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-uzaleznienia.png" alt="">
          <div class="card-info fade-in">
            <h2>Pomoc w <br>uzależnieniach</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_par_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-pary.png" alt="">
          <div class="card-info fade-in">
            <h2>Terapia par</h2>
          </div>
        </div>
      <% end %>
      <%= link_to oferta_terapia_par_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-dzieci.png" alt="">
          <div class="card-info fade-in">
            <h2>Terapia dzieci</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>NASZ ZESPÓŁ</h2>
      <hr/>
    </div>
    <div class="people fade-in">
      <div class="people__container">
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <%= image_tag "Grzegorz_Szczeblewski.jpg", alt: "Grzegorz_Szczeblewski" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Psychoterapia Indywidualna</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia Par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Grzegorz Szczeblewski</h4>
            <p>Psycholog i <br> Psychoterapeuta</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_donata_grodek_path do %>
          <%= image_tag "Donata_Grodek.jpg", alt: "Donata Grodek" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
              <p>Terapia par</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Donata Grodek</h4>
            <p>Psycholożka, Psychoterapeutka i Terapeutka uzależnień</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_elzbieta_walczak_path do %>
          <%= image_tag "Ela_Walczak.jpg", alt: "Elżbieta Walczak" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Konsultacja Psychologiczna</p>
              <p>Pomoc w uzależnieniach</p>
              <p>Pomoc w sytuacji kryzysowej</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Elżbieta Walczak</h4>
            <p>Psycholożka i Terapeutka uzależnień</p>
          </div>
        <% end %>
      </div>
      <div class="people__container">
        <%= link_to zespol_patrycja_barabasz_path do %>
          <%= image_tag "Patrycja_Barabasz2.jpg", alt: "Patrycja Barabasz" %>
          <div class="people__container__middle">
            <div class="people__container__middle__text">
              <p>Ocena rozwoju psychoruchowego (KORP)</p>
              <p>Ocena zachowania i emocji dziecka (KOZE)</p>
              <p>Trening umiejętności społecznych (TUS)</p>
              <p>Terapia pedagogiczna</p>
              <p>Terapia zajęciowa</p>
            </div>
          </div>
          <div class="people__name">
            <h4>Patrycja Barabasz</h4>
            <p>Pedagożka, Terapeutka uzależnień, Terapeutka zajęciowa, Trener umiejętności społecznych</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap Image Carousel -->
<section>
  <div class="container">
    <div class="offices-section">
      <div class="section-titles">
        <h2>NASZE GABINETY</h2>
        <hr/>
      </div>
      <%= render 'shared/carousel' %>
    </div>
  </div>
</section>

<section class="reviews-carousel container">
  <div class="section-titles">
    <h2>OPINIE NASZYCH KLIENTÓW</h2>
    <hr/>
  </div>
  <div>
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                   <p>Bardzo fachowa, rzetelna obsługa sesje przebiegały bardzo szybko wręcz niekiedy brakowało czasu i chciałoby się domówić kolejną godzinę. Bardzo polecam.☆☆☆☆☆ chodziłem 2 miesiące i z pewnością za jakiś czas, wrócę tam z powrotem.</p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% @reviews.each do |review| %>
          <div class="carousel-item text-center" id="review-carousel">
            <figure class="review-carousel">
              <%= image_tag "leaf.jpg", alt: "Grzegorz_Szczeblewski", class: "review__photo" %>
              <figcaption class="review-carousel__box">
                <blockquote class="review-carousel__text">
                  <p><%= review.content %></p>
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
