<section class="banner-pages">
  <div class="banner-pages-title">
     <h1>Konsultacja Psychologiczna</h1>
  </div>
</section>

<section>
  <div class="oferta-subpages container">
    <div class="oferta-subpages_text text-center">
      <p>
        Dzięki konsultacji psychologicznej możliwe jest wstępne rozpoznanie sytuacji życiowej pacjenta oraz określenie jego problemów. Z tego względu stanowi ona stanowią wstęp do dalszego postępowania oraz terapii.
      </p>
      <h2>Ta forma pomocy sprawdzi się gdy:</h2>
      <ul>
        <li>znalazłeś się w sytuacji, z którą nie potrafisz sobie poradzić i potrzebujesz wsparcia</li>
        <li>masz trudną sytuację i chcesz się zastanowić, co dalej</li>
        <li>czujesz, że potrzebujesz pomocy, ale nie wiesz jaka forma będzie dla Ciebie najkorzystniejsza, tzn. czy wybrać psychoterapię indywidualną, grupową czy może wcześniej udać się do lekarza psychiatry</li>
        <li>czujesz, że chciałbyś coś zmienić w swoim życiu, ale nie potrafisz tego nazwać i nie wiesz od czego zacząć.</li>
      </ul>
    </div>
    <div class="oferta-subpages_photo">
      <img src="/assets/konsultacja.jpg" alt="Psycholog - Konsultacja Psychologiczna">
    </div>
  </div>
</section>

<section class="section-subpages">
  <div class="container">
    <div class=" oferta-subpages_text text-center">
      <h2>Kto może skorzystać z konsultacji psychologicznych?</h2>
      <p>Najprościej ujmując każdy, kto uważa, że jej potrzebuje. Rozmowa ze specjalistą pozwala na omówienie wszelkich problemów emocjonalnych, rodzinnych i życiowych.
      Może stanowić pierwszy krok na drodze do rozpoznania problemów oraz ich rozwiązania. Jest to jednorazowa usługa, która ma na celu poradę w zmaganiu się z problemami,
      jednak pełne rozpoznanie może wymagać od trzech do pięciu spotkań i ma na celu postanowienie diagnozy. Dzięki której pacjent może zostać poddany leczeniu.</p>
      <br>
      <h2>Jakie są przykładowe wskazania do skorzystania z konsultacji psychologicznej?</h2>
      <p>Do najczęstszych przyczyn należą problemy z kontrolowaniem emocji, utrzymujący się zły nastrój, stresy, zaburzenia lękowe, problemy ze snem, trudności związane z relacjami interpersonalnymi,
      wypalenie zawodowe, kłopoty rodzinne lub zaburzenia emocjonalne. Powodem do skorzystania z pomocy specjalisty mogą być wszystkie problemy, które sprawiają, że pacjent odczuwa potrzebę wsparcia.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="oferta-subpages">
      <div class="oferta-subpages__people">
        <div class="section-titles">
          <h3>terapeuci:</h3>
          <hr/>
        </div>
        <%= link_to zespol_donata_grodek_path do %>
          <h4><i class="fas fa-chevron-right"></i>Donata Grodek</h4>
        <%end%>
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <h4><i class="fas fa-chevron-right"></i>Grzegorz Szczeblewski</h4>
        <%end%>
        <%= link_to zespol_elzbieta_walczak_path do %>
          <h4><i class="fas fa-chevron-right"></i>Elżbieta Walczak</h4>
        <%end%>
        <%= link_to zespol_kamila_czarnuch_path do %>
          <h4><i class="fas fa-chevron-right"></i>Kamila Czarnuch</h4>
        <%end%>
        <%= link_to zespol_aleksandra_stepien_path do %>
          <h4><i class="fas fa-chevron-right"></i>Aleksandra Stępień</h4>
        <%end%>
        <%= link_to zespol_marta_mlodzianowska_path do %>
          <h4><i class="fas fa-chevron-right"></i>Marta Młodzianowska</h4>
        <%end%>
        <%= link_to zespol_tadeusz_kurpisz_path do %>
          <h4><i class="fas fa-chevron-right"></i>Tadeusz Kurpisz</h4>
        <%end%>
        <%= link_to zespol_robert_krzyzanowski_path do %>
          <h4><i class="fas fa-chevron-right"></i>Robert Krzyżanowski</h4>
        <%end%>
        <%= link_to zespol_tadeusz_kurpisz_path do %>
          <h4><i class="fas fa-chevron-right"></i>Tadeusz Kurpisz</h4>
        <%end%>
        <%= link_to zespol_anetta_idziorek_path do %>
          <h4><i class="fas fa-chevron-right"></i>Anetta Idziorek</h4>
        <%end%>
        <%= link_to zespol_tamara_pieczerer_path do %>
          <h4><i class="fas fa-chevron-right"></i>Tamara Pieczerer</h4>
        <%end%>
        <%= link_to zespol_piotr_sekula_path do %>
          <h4><i class="fas fa-chevron-right"></i>Piotr Sekuła</h4>
        <%end%>
      </div>

      <div class="oferta-subpages__contact text-center">
        <%= render 'shared/kontakt-box' %>
      </div>
    </div>
  </div>
</section>
