<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>OFERTA</h1>
  </div>
</section>

<section class="oferta">
  <div class="oferta_grid container">
    <div class="oferta_grid_photo_one">
      <img src="/assets/psychoterapia.jpg" alt="">
    </div>
    <div class="oferta_grid_text_one">
      <div class="section-titles">
        <h3>Psychoterapia indywidualna</h3>
        <hr>
      </div>
      <div>
        <p class="text-center">Ta forma pomocy skierowana jest do osób, które:</p>
        <ul>
          <li>doświadczają problemów w relacjach z innymi ludźmi</li>
          <li>doświadczają smutku, lęku, wahań nastroju, konfliktów wewnętrznych</li>
          <li>nie radzą sobie ze złością i agresją</li>
          <li>mają niskie poczucie własnej wartości</li>
          <li>mają dolegliwości psychosomatyczne; np. bóle głowy, problemy ze snem, choroby układu krążenia</li>
          <li>doświadczają trudności w pracy</li>
          <li>stoją przed ważnymi i trudnymi wyborami życiowymi</li>
          <li>doświadczają problemów egzystencjalnych (myśli samobójcze, poczucie bezsensu, samotność)</li>
          <li>są niezadowolone z jakości swojego życia</li>
          <li>chcą się rozwijać – lepiej zrozumieć siebie i swoje zachowania</li>
        </ul>
        <!-- <p class="text-center"><%= link_to "Przeczytaj więcej →", oferta_terapia_path, class:"read-more" %></p> -->
        <div class="oferta-btn">
          <%= link_to "Przeczytaj więcej", oferta_terapia_path, class: "btn-back" %>
          <%= link_to "Umów się na witytę", kontakt_path, class: "btn-cards" %>
        </div>
      </div>
    </div>

    <div class="oferta_grid_photo_two">
      <img src="/assets/konsultacja.jpg" alt="">
    </div>
    <div class="oferta_grid_text_two">
      <div class="section-titles">
        <h3>Konsultacja Psychologiczna</h3>
        <hr>
      </div>
      <div>
        <p class="text-center">Ta forma pomocy sprawdzi się gdy:</p>
        <ul>
          <li>znalazłeś się w sytuacji, z którą nie potrafisz sobie poradzić i potrzebujesz wsparcia</li>
          <li>masz trudną sytuację i chcesz się zastanowić, co dalej</li>
          <li>czujesz, że potrzebujesz pomocy, ale nie wiesz jaka forma będzie dla Ciebie najkorzystniejsza, tzn. czy wybrać psychoterapię indywidualną, grupową czy może wcześniej udać się do lekarza psychiatry</li>
          <li>czujesz, że chciałbyś coś zmienić w swoim życiu, ale nie potrafisz tego nazwać i nie wiesz od czego zacząć.</li>
        </ul>
      </div>
      <div class="oferta-btn">
        <%= link_to "Przeczytaj więcej", oferta_konsultacja_path, class: "btn-back" %>
        <%= link_to "Umów się na witytę", kontakt_path, class: "btn-cards" %>
      </div>
    </div>

    <div class="oferta_grid_photo_three">
      <img src="/assets/pomoc.jpg" alt="">
    </div>
    <div class="oferta_grid_text_three">
      <div class="section-titles">
        <h3>Pomoc w sytuacji kryzysu</h3>
        <hr>
      </div>
      <div>
        <p class="text-center">Ta forma pomocy skierowana jest do osób, które przeżyły:</p>
        <ul>
          <li>śmierć bliskiej osoby</li>
          <li>chorobę własnej lub choroby bliskiej osoby</li>
          <li>wypadek</li>
          <li>rozpadu związku</li>
          <li>utratę pracy</li>
          <li>bardzo silny stres</li>
        </ul>
      </div>
      <div class="oferta-btn">
       <%= link_to "Przeczytaj więcej", oferta_pomoc_kryzys_path, class: "btn-back" %>
       <%= link_to "Umów się na witytę", kontakt_path, class: "btn-cards" %>
      </div>
    </div>

    <div class="oferta_grid_photo_four">
      <img src="/assets/addiction.jpg" alt="">
    </div>
    <div class="oferta_grid_text_four">
      <div class="section-titles">
        <h3>Pomoc w uzależnieniach</h3>
        <hr>
      </div>
      <div>
        <p class="text-center">Zapewniamy nowoczesne i kompleksowe leczenie osobom borykającym się z różnego rodzaju uzależnieniami,
          zarówno w zakresie substancji psychoaktywnych, jak i uzależnień behawioralnych.
          W leczeniu uzależnień niebywale istotne jest uwzględnienie indywidualnej historii danej osoby.
          Istnieje szereg czynników obciążających, które zwiększają ryzyko wystąpienia uzależnienia.
          Zalicza się do nich m.in. problemy rodzinne, nieporozumienia w bliskich relacjach, presję zawodową, kłopoty finansowe,
          wywodzenie się z rodziny, w której występuje wzorzec uzależnienia/współuzależnienia. Skuteczne przeciwdziałanie uzależnieniom
          polega nie tylko na utrzymywaniu abstynencji, ale dążeniu do poznania i wyeliminowania czynników, które powodują uzależnienia.
          Jest to możliwe w ramach pogłębionej psychoterapii.</p>
      </div>
      <div class="oferta-btn">
       <%= link_to "Przeczytaj więcej", oferta_uzaleznienia_path, class: "btn-back" %>
       <%= link_to "Umów się na witytę", kontakt_path, class: "btn-cards" %>
      </div>
    </div>

    <div class="oferta_grid_photo_five">
      <img src="/assets/terapia_par.jpg" alt="">
    </div>
    <div class="oferta_grid_text_five">
      <div class="section-titles">
        <h3>Terapia Par</h3>
        <hr>
      </div>
      <div>
        <p class="text-center">Związek dwojga osób może stawać przed rozmaitymi trudnościami jak np. niekończące się spory,
        ingerencja innych osób, wycofanie, zanik intymności, problemy natury seksualnej, zdrada, izolacja, niepewność co do
        przyszłości, agresja, niemożność przezwyciężenia traumatycznych doświadczeń i wiele innych. Te zjawiska często mają
        głębsze podłoże. Mogą wynikać z utrudnionej komunikacji w związku ale również z indywidualnych trudności każdej z osób.
        Trudno wtedy poradzić sobie z powstałym kryzysem ze względu na wzajemne zranienia, pretensje i oskarżenia. Nie udaje
        się usłyszeć, zrozumieć, dostrzec perspektywy drugiej osoby i wreszcie wprowadzić planu naprawczego. Poradzenie sobie
        w takich okolicznościach to wyzwanie nawet dla najbliższych sobie ludzi.</p>
      </div>
      <div class="oferta-btn">
       <%= link_to "Przeczytaj więcej", oferta_terapia_par_path, class: "btn-back" %>
       <%= link_to "Umów się na witytę", kontakt_path, class: "btn-cards" %>
      </div>
    </div>

    <div class="oferta_grid_photo_six">
      <img src="/assets/kids.jpg" alt="">
    </div>
    <div class="oferta_grid_text_six">
      <div class="section-titles">
        <h3>Terapia Dzieci</h3>
        <hr>
      </div>
      <div>
        <p class="text-center">Ocena rozwoju psychoruchowego (KORP)</p>
        <p class="text-center">Ocena zachowania i emocji dziecka (KOZE)</p>
        <p class="text-center">Trening umiejętności społecznych (TUS)</p>
        <p class="text-center">Terapia pedagogiczna</p>
        <p class="text-center">Terapia zajęciowa</p>
      </div>
      <div class="oferta-btn">
       <%= link_to "Przeczytaj więcej", oferta_terapia_dzieci_path, class: "btn-back" %>
       <%= link_to "Umów się na witytę", kontakt_path, class: "btn-cards" %>
      </div>
    </div>
  </div>
</section>









