<section class="banner-pages">
  <div class="banner-pages-title">
     <h1>Pomoc w sytuacji kryzysu</h1>
  </div>
</section>

<section>
  <div class="oferta-subpages container">
    <div class="oferta-subpages_text">
      <h4 class="text-center">Ta forma pomocy psychologicznej jest skierowana do osób, które przeżyły:</h4>
      <ul>
        <li>śmierć bliskiej osoby;</li>
        <li>chorobę własnej lub choroby bliskiej osoby;</li>
        <li>wypadek;</li>
        <li>rozpad związku;</li>
        <li>utratę pracy;</li>
        <li>bardzo silny stres.</li>
      </ul>
    </div>
    <div class="oferta-subpages_photo">
      <img src="/assets/pomoc.jpg" alt="Pomoc w sytuacji kryzysu">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="oferta-subpages">
      <div class="oferta-subpages__people">
        <div class="section-titles">
          <h3>terapeuci:</h3>
          <hr/>
        </div>
        <%= link_to zespol_donata_grodek_path do %>
          <h4><i class="fas fa-chevron-right"></i>Donata Grodek</h4>
        <%end%>
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <h4><i class="fas fa-chevron-right"></i>Grzegorz Szczeblewski</h4>
        <%end%>
        <%= link_to zespol_elzbieta_walczak_path do %>
          <h4><i class="fas fa-chevron-right"></i>Elżbieta Walczak</h4>
        <%end%>
        <%= link_to zespol_kamila_czarnuch_path do %>
          <h4><i class="fas fa-chevron-right"></i>Kamila Czarnuch</h4>
        <%end%>
        <%= link_to zespol_dominika_lisiecka_path do %>
          <h4><i class="fas fa-chevron-right"></i>Dominika Lisiecka</h4>
        <%end%>
        <%= link_to zespol_tadeusz_kurpisz_path do %>
          <h4><i class="fas fa-chevron-right"></i>Tadeusz Kurpisz</h4>
        <%end%>
        <%= link_to zespol_katarzyna_wojtczak_path do %>
          <h4><i class="fas fa-chevron-right"></i>Katarzyna Wojtczak</h4>
        <%end%>
        <%= link_to zespol_anetta_idziorek_path do %>
          <h4><i class="fas fa-chevron-right"></i>Anetta Idziorek</h4>
        <%end%>
        <%= link_to zespol_tamara_pieczerer_path do %>
          <h4><i class="fas fa-chevron-right"></i>Tamara Pieczerer</h4>
        <%end%>
        <%= link_to zespol_piotr_sekula_path do %>
          <h4><i class="fas fa-chevron-right"></i>Piotr Sekuła</h4>
        <%end%>
      </div>

      <div class="oferta-subpages__contact text-center">
        <%= render 'shared/kontakt-box' %>
      </div>
    </div>
  </div>
</section>
