<section class="banner-pages">
  <div class="banner-pages-title">
     <h1>Terapia Par - Terapia Malżeńska</h1>
  </div>
</section>

<section>
  <div class="oferta-subpages container">
    <div class="oferta-subpages_text">
      <p class="text-center">
        Zapewniamy nowoczesne i kompleksowe leczenie osobom borykającym się z różnego rodzaju uzależnieniami, zarówno w zakresie substancji psychoaktywnych, jak i uzależnień behawioralnych. W leczeniu uzależnień niebywale istotne jest uwzględnienie indywidualnej historii danej osoby. Istnieje szereg czynników obciążających, które zwiększają ryzyko wystąpienia uzależnienia. Zalicza się do nich m.in. problemy rodzinne, nieporozumienia w bliskich relacjach, presję zawodową, kłopoty finansowe, wywodzenie się z rodziny, w której występuje wzorzec uzależnienia/współuzależnienia. Skuteczne przeciwdziałanie uzależnieniom polega nie tylko na utrzymywaniu abstynencji, ale dążeniu do poznania i wyeliminowania czynników, które powodują uzależnienia. Jest to możliwe w ramach pogłębionej psychoterapii.>
      </p>
    </div>
    <div class="oferta-subpages_photo">
      <img src="/assets/terapia_par.jpg" alt="Psycholog - Terapia par, Terapia malżeńska">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="oferta-subpages">
      <div class="oferta-subpages__people">
        <div class="section-titles">
          <h3>terapeuci:</h3>
          <hr/>
        </div>
        <%= link_to zespol_donata_grodek_path do %>
          <h4><i class="fas fa-chevron-right"></i>Donata Grodek</h4>
        <%end%>
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <h4><i class="fas fa-chevron-right"></i>Grzegorz Szczeblewski</h4>
        <%end%>
        <%= link_to zespol_aleksandra_stepien_path do %>
          <h4><i class="fas fa-chevron-right"></i>Aleksandra Stępień</h4>
        <%end%>
        <%= link_to zespol_katarzyna_wojtczak_path do %>
          <h4><i class="fas fa-chevron-right"></i>Katarzyna Wojtczak</h4>
        <%end%>
      </div>

      <div class="oferta-subpages__contact text-center">
        <%= render 'shared/kontakt-box' %>
      </div>
    </div>
  </div>
</section>
