<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>NASZ ZESPÓŁ</h1>
  </div>
</section>

<!-- about us section  -->
<section>
  <div class="container">
    <div class="about-us fade-in">
      <div class="section-titles">
        <h2>O NAS</h2>
        <hr/>
      </div>
      <div class="about-us__text">
        <p>Centrum Psychoterapii <strong>Psycho-Terapeutyczny.pl</strong> powstało w odpowiedzi na potrzebę stworzenia bezpiecznego, przyjaznego i intymnego miejsca zarówno dla psychoterapeutów oraz osób chcących skorzystać z specjalistycznej pomocy terapeutycznej i psychologicznej. Oddajemy do dyspozycji przestrzeń, w której każdy znajdzie dla siebie profesjonalną i adekwatną opiekę, gdzie będzie czuł się ważny i słuchany. Wysoki poziom świadczonych usług gwarantuje współpracujący ze sobą zespół psychologów i psychoterapeutów specjalizujących się w różnych dziedzinach oraz bogaty w wiedzę z kilku nurtów psychoterapeutycznych, Oferta kierowana jest do wszystkich, którzy doświadczają trudności, chcieliby lepiej rozumieć siebie i funkcjonować w relacji ze sobą, jak i innymi.</p>
      </div>
    </div>
  </div>
</section>

<!-- team section  -->
<section class="container">
  <div class="team-list">
    <div class="team-list__card">
      <div class="team-list__card__title">
        <h4>Grzegorz Szczeblewski</h4>
        <p>Psycholog - Psychoterapeuta</p>
      </div>
      <%= image_tag "Grzegorz_Szczeblewski.jpg", alt: "Grzegorz_Szczeblewski" %>
      <div class="team-list__card__offer">
        <p>Konsultacja Psychologiczna</p>
        <p>Psychoterapia Indywidualna</p>
        <p>Pomoc w sytuacji kryzysowej</p>
        <p>Terapia Par</p>
      </div>
      <%= link_to zespol_grzegorz_szczeblewski_path do %>
        <div class="team-list__card__btn">
          WIĘCEJ
        </div>
      <%end%>
    </div>

    <hr class="break-line"/>

    <div class="team-list__card">
      <div class="team-list__card__title">
        <h4>Elżbieta Walczak</h4>
        <p>Psycholożka - Terapeutka uzależnień</p>
      </div>
      <%= image_tag "Ela_Walczak.jpg", alt: "Elżbieta Walczak" %>
      <div class="team-list__card__offer">
        <p>Konsultacja Psychologiczna</p>
        <p>Pomoc w uzależnieniach</p>
        <p>Pomoc w sytuacji kryzysowej</p>
      </div>
      <%= link_to zespol_elzbieta_walczak_path do %>
        <div class="team-list__card__btn">
          WIĘCEJ
        </div>
      <%end%>
    </div>

    <hr class="break-line"/>

    <div class="team-list__card">
      <div class="team-list__card__title">
        <h4>Donata Grodek</h4>
        <p>Psycholożka - Psychoterapeutka - Terapeutka uzależnień</p>
      </div>
      <%= image_tag "Donata_Grodek.jpg", alt: "Donata Grodek" %>
      <div class="team-list__card__offer">
        <p>Konsultacja Psychologiczna</p>
        <p>Pomoc w uzależnieniach</p>
        <p>Pomoc w sytuacji kryzysowej</p>
        <p>Terapia par</p>
      </div>
      <%= link_to zespol_donata_grodek_path do %>
        <div class="team-list__card__btn">
          WIĘCEJ
        </div>
      <%end%>
    </div>

    <hr class="break-line"/>

    <div class="team-list__card">
      <div class="team-list__card__title">
        <h4>Patrycja Barabasz</h4>
        <p>Pedagożka, Terapeutka uzależnień, Terapeutka zajęciowa, Trener umiejętności społecznych</p>
      </div>
      <%= image_tag "Patrycja_Barabasz.jpg", alt: "Patrycja Barabasz" %>
      <div class="team-list__card__offer">
        <p>Ocena rozwoju psychoruchowego (KORP)</p>
        <p>Ocena zachowania i emocji dziecka (KOZE)</p>
        <p>Trening umiejętności społecznych (TUS)</p>
        <p>Terapia pedagogiczna</p>
        <p>Terapia zajęciowa</p>
      </div>
      <%= link_to zespol_patrycja_barabasz_path do %>
        <div class="team-list__card__btn">
          WIĘCEJ
        </div>
      <%end%>
    </div>
  </div>
</section>
