<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>NASZ ZESPÓŁ</h1>
  </div>
</section>

<!-- about us section  -->
<section>
  <div class="container">
    <div class="about-us fade-in">
      <div class="section-titles">
        <h2>O NAS</h2>
        <hr/>
      </div>
      <div class="about-us__text">
        <p>Centrum Psychoterapii <strong>Psycho-Terapeutyczny.pl</strong> powstało w odpowiedzi na potrzebę stworzenia bezpiecznego, przyjaznego i intymnego miejsca zarówno dla psychoterapeutów oraz osób chcących skorzystać z specjalistycznej pomocy terapeutycznej i psychologicznej. Oddajemy do dyspozycji przestrzeń, w której każdy znajdzie dla siebie profesjonalną i adekwatną opiekę, gdzie będzie czuł się ważny i słuchany. Wysoki poziom świadczonych usług gwarantuje współpracujący ze sobą zespół psychologów i psychoterapeutów specjalizujących się w różnych dziedzinach oraz bogaty w wiedzę z kilku nurtów psychoterapeutycznych, Oferta kierowana jest do wszystkich, którzy doświadczają trudności, chcieliby lepiej rozumieć siebie i funkcjonować w relacji ze sobą, jak i innymi.</p>
      </div>
    </div>
  </div>
</section>

<!-- team section  -->
<section class="container">
  <div class="team-list">
    <div class="team-list__card">
      <%= image_tag "Grzegorz_Szczeblewski.jpg", alt: "Grzegorz_Szczeblewski - psycholog, psychoterapeuta" %>
      <div class="team-list__card__box">
        <h4>Grzegorz Szczeblewski</h4>
        <p>Psycholog, <br> Psychoterapeuta</p>
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Ela_Walczak.jpg", alt: "Elżbieta Walczak - psycholog, psychoterapeuta" %>
      <div class="team-list__card__box">
        <h4>Elżbieta Walczak</h4>
        <p>Psycholożka, <br> Terapeutka uzależnień</p>
        <%= link_to zespol_elzbieta_walczak_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Donata_Grodek.jpg", alt: "Donata Grodek - psycholog, psychoterapeuta" %>
      <div class="team-list__card__box">
        <h4>Donata Grodek</h4>
        <p>Psycholożka, <br> Psychoterapeutka</p>
        <%= link_to zespol_donata_grodek_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Kamila_Czarnuch.jpg", alt: "Kamila Czarnuch - psycholog, psychoterapeuta" %>
      <div class="team-list__card__box">
        <h4>Kamila Czarnuch</h4>
        <p>Psycholożka, <br> Psychoterapeutka</p>
        <%= link_to zespol_kamila_czarnuch_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Dominika_Lisiecka.jpg", alt: "Dominika Lisiecka - psychoterapeutka, leczenie uzależnień i współuzależnień" %>
      <div class="team-list__card__box">
        <h4>Dominika Lisiecka</h4>
        <p>Psychoterapeutka, <br> Terapeutka uzależnień i współuzależnień</p>
        <%= link_to zespol_dominika_lisiecka_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Aleksandra_Stepien.jpg", alt: "Aleksanra Stępień - psychoterapeuta" %>
      <div class="team-list__card__box">
        <h4>Aleksandra Stępień</h4>
        <p>Psychoterapeutka</p>
        <!-- <br/> -->
        <%= link_to zespol_aleksandra_stepien_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Marta_Mlodzianowska.jpg", alt: "Marta Młodzianowska - psychoterapeuta, psycholog" %>
      <div class="team-list__card__box">
        <h4>Marta Młodzianowska</h4>
        <p>Psychoterapeutka, <br> Psycholożka</p>
        <%= link_to zespol_marta_mlodzianowska_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Tadeusz_Kurpisz.jpg", alt: "Tadeusz Kurpisz - Psychoterapeuta - Specjalista psychoterapii uzależnień" %>
      <div class="team-list__card__box">
        <h4>Tadeusz Kurpisz</h4>
        <p>Psychoterapeuta, <br> Specjalista psychoterapii uzależnień</p>
        <%= link_to zespol_tadeusz_kurpisz_path do %>
          <div class="team-list__card__btn">
            DOWIEDZ SIĘ WIĘCEJ
          </div>
        <%end%>
      </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Katarzyna_Wojtczak.jpg", alt: "Katarzyna Wojtczak - psychoterapeuta" %>
        <div class="team-list__card__box">
          <h4>Katarzyna Wojtczak</h4>
          <p>Psychoterapeutka</p>
          <!-- <br/> -->
          <%= link_to zespol_katarzyna_wojtczak_path do %>
            <div class="team-list__card__btn">
              DOWIEDZ SIĘ WIĘCEJ
            </div>
          <%end%>
        </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Robert_Krzyzanowski.jpg", alt: "Robert Krzyżanowski - psycholog, seksuolog" %>
        <div class="team-list__card__box">
          <h4>Robert Krzyżanowski</h4>
          <p>Psycholog, <br> Seksuolog</p>
          <!-- <br/> -->
          <%= link_to zespol_robert_krzyzanowski_path do %>
            <div class="team-list__card__btn">
              DOWIEDZ SIĘ WIĘCEJ
            </div>
          <%end%>
        </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Malgorzata_Radziwolek.jpg", alt: "Małgorzata Radziwołek - Coach, Hipnoterapeutka, Pedagog" %>
        <div class="team-list__card__box">
          <h4>Małgorzata Radziwołek</h4>
          <p>Coach, <br> Hipnoterapeutka, <br> Pedagog</p>
          <!-- <br/> -->
          <%= link_to zespol_malgorzata_radziwolek_path do %>
            <div class="team-list__card__btn">
              DOWIEDZ SIĘ WIĘCEJ
            </div>
          <%end%>
        </div>
    </div>

    <div class="team-list__card">
      <%= image_tag "Magdalena_Luczyk.jpg", alt: "Magdalena Łuczyk - Terapeuta, Dietetyk kliniczny, Logopeda, Trener TUS, Neurologopeda, Oligofrenopedagog" %>
        <div class="team-list__card__box">
          <h4>Magdalena Łuczyk</h4>
          <p>Terapeuta, Dietetyk kliniczny, Logopeda, Trener TUS, Neurologopeda, Oligofrenopedagog</p>
          <!-- <br/> -->
          <%= link_to zespol_magdalena_luczyk_path do %>
            <div class="team-list__card__btn">
              DOWIEDZ SIĘ WIĘCEJ
            </div>
          <%end%>
        </div>
    </div>
    
  </div>
</section>
