<!DOCTYPE html>
<html>
  <head>
    <title>Gabinet Psychoterapii - Psychoterapia i pomoc psychologiczna</title>
    <meta name="description" content="Konsultacja Psychologiczna, Psychoterapia Indywidualna, Terapia par, Pomoc w sytuacji kryzysowej, Pomoc w uzależnieniach, Terapia dzieci." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-visit-control" content="reload">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D562E4C12B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-D562E4C12B');
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="content">
      <%= yield %>
    </div>

    <footer><%= render 'shared/footer' %></footer>
  </body>
</html>
